@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
 * {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
}
.main-container {
    
    display: flex;
    position: relative;
    flex-direction: column;
}
 .container {
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    position: absolute;
 }
 .child {
    background-image: url(images/bckground-img2.gif);
    height: 100vh;
    scroll-snap-align: start;
 }
.grd-child {
    height: 100vh;
 }
 
.header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.911);
    box-shadow: 0px 0px 40px 15px #0026ff;
    position: absolute;
    padding-right: 310px;
}
.header ul {
    display: flex;
    list-style: none;
}
.header ul li {
    margin: 20px 1% 20px 15%;
    font-size: 1.4em;
    color: rgb(0, 89, 255);
    font-weight: bold;
    padding: 0 10px;
}
.header ul li:hover {
    font-size: 1.4em;
    padding: 0 10px;
    margin: 20px 1% 20px 15%;
    box-shadow: 0px 0px 20px 4px #fffbfb;
    background-color: #fcfcff;
    border-radius: 20px;
}
@media (max-width:670px) {
    .header nav {
        width: 100%;
        display: flex;
        justify-content: end;
        background-color: rgba(0, 0, 0, 0.911);
        box-shadow: 0px 0px 40px 15px #000000;
        position: absolute;
        padding-right: 310px;
    }
    .header ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }
}
 .container-me{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    height: 300px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.me::before {
    content:"";
    background-image: conic-gradient(
        #79a3f8e3 20deg,
        transparent 120deg
    );
    width: 600%;
    height: 600%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
.me::after {
    content:"";
    height: 290px;
    width: 590px;
    background-image: radial-gradient(rgb(0, 0, 0)40%,rgb(2, 2, 46));
    position: absolute;
    border-radius: 10px;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.container-me h1 , .container-me p {
    color: #fff7f7d3;
}
.container-me h1 {
    font-size: 6em;
   font-weight: 900;
   z-index: 9999;
}
.container-me p {
    font-size: 3em;
    z-index: 9999;
}
.container-abt {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.prof {
    border-radius: 50%;
    height: 280px;
    width: 280px;
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    background-color: #000000;
}
.prof::before {
    content: "qqqqqq";
    background-image: conic-gradient(
        #4583ff 20deg,
        transparent 120deg
    );
    height: 280px;
    width: 280px;
    position: absolute;
    animation: rotate 2s linear infinite;
}
.prof::after {
    content:"assas";
    background-image: url(images/pain_peko.png);
    position: absolute;
    height: 270px;
    width: 270px;
    border-radius: 50%;
}
.prof img {
    border-radius: 50%;
    height: 270px;
    width: 270px;
}

.container-abt .intro {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 2em;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.87);
}
@media (max-width:650px) {
    .container-abt .intro {
        text-align: center;
        margin-top: 10px;
        padding: 20px;
        font-size: 2em;
        width: 500px;
        background-color: rgba(0, 0, 0, 0.87);
    }
}
.experience {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.container-exp {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 10px;
    height: 600px;
    width: 1200px;
    background-color: #000000c4;
}
.container-exp .head {
    grid-column: span 4;
    text-align: center;
    align-self: center;
    font-size: 2em;
    border-bottom: solid 1px blue;
}
.container-exp .exper {
    grid-column: span 3;
    
}
.container-exp .ilike {
    grid-column: span 3;
    
}
.exp p, .exp h3 {
    padding: 0px 20px;
}
.exp h3 {
    font-size: 1.7em;
}
.exp p {
    font-size: 1.2em;
}
.container-exp .gif {
    
    text-align: center;
}
.child.work {
    display: flex;
    justify-content: center;
}
.container-work {
    height: 100vh;
    display: grid;
    grid-template: 350px / 550px 550px;
    grid-auto-rows: 350px;
    gap: 20px;
    width: 1200px;
    background-color: #000000c7;
    padding: 80px 40px;
    overflow: hidden;
    overflow-y: scroll;
}
.container-work .item {
    background-color: #000000d3;
    display: flex;
    
}
.container-work .item:nth-child(1) {
    font-size: 2em;
    padding: 50px;
}
.container-work .item:nth-child(1) p {
    font-size: 1.5em;
    padding-top: 10px;
}
.container-work .item:nth-child(2) {
    grid-row: span 2;
    position: relative;
    background-color: hsla(0, 0%, 0%, 0);
    border: #0f23ffc0 solid 1px;
}
.container-work .item:nth-child(2) .item-img img {
    object-fit: cover;
    width: 100%;
    position: absolute;
    border: #0f23ff7a solid 1px;
}
.container-work .item:nth-child(2) .item-txt {
    height: 250px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    border: #0f23ff6b solid 1px;
}
.container-work .item:nth-child(2) .txt {
    padding: 10px 20px;
}
.container-work .item:nth-child(2) .item-txt h3 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.container-work .item:nth-child(3) {
    grid-row: span 2;
    position: relative;
    background-color: hsla(0, 0%, 0%, 0);
    border: #0f23ffc0 solid 1px;
}
.container-work .item:nth-child(3) .item-img img {
    object-fit: cover;
    width: 100%;
    position: absolute;
    border: #0f23ff7a solid 1px;
}
.container-work .item:nth-child(3) .item-txt {
    height: 250px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    border: #0f23ff6b solid 1px;
}
.container-work .item:nth-child(3) .txt {
    padding: 10px 20px;
}
.container-work .item:nth-child(3) .item-txt h3 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.container-work .item:nth-child(4) {
    grid-row: span 2;
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.494);
    border: #0f23ffc0 solid 1px;
}
.container-work .item:nth-child(4) .item-img img {
    object-fit: cover;
    width: 100%;
    position: absolute;
    border: #0f23ff7a solid 1px;
    padding: 90px 0;
}
.container-work .item:nth-child(4) .item-txt {
    height: 250px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    border: #0f23ff6b solid 1px;
}
.container-work .item:nth-child(4) .txt {
    padding: 10px 20px;
}
.container-work .item:nth-child(4) .item-txt h3 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.container-work .item:nth-child(5) {
    grid-row: span 2;
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.494);
    border: #0f23ffc0 solid 1px;
}
.container-work .item:nth-child(5) .item-img img {
    object-fit: cover;
    width: 100%;
    position: absolute;
    border: #0f23ff7a solid 1px;
}
.container-work .item:nth-child(5) .item-txt {
    height: 250px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    border: #0f23ff6b solid 1px;
}
.container-work .item:nth-child(5) .txt {
    padding: 10px 20px;
}
.container-work .item:nth-child(5) .item-txt h3 {
    padding-top: 20px;
    padding-bottom: 10px;
}

  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(13, 0, 255, 0.885); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(21, 21, 21, 0.778); 
    border-radius: 10px;
    border: #002f8c79 solid 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1d1d1d; 
  }
  .container-work .item:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-work .item:nth-child(6) .container-btn {
    font-size: 2em;
  }
  .container-work .item:nth-child(6) .btn {
    padding: 10px;
    border: #0f23ff6b solid 4px;
    
  }
  .container-work .item:nth-child(6) .btn a {
    text-decoration-line: none;
  }
  .container-work .item:nth-child(6) .btn:hover {
    padding: 10px;
    border: #0f23ff6b solid 4px;
    background-color: #061bff;
    box-shadow: 0px 0px 80px 1px #061bff;
  }
  .child.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .child.contact .cointainer-contact {
    height: 100vh;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  .child.contact .cointainer-contact  .contact-txt {
    width: 700px;
    height: 200px;
    background-color: #000000d7;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .child.contact .cointainer-contact .contact-btn {
    background-color: #061bff;
    padding: 15px 30px;
    border-radius: 10px;
  }
  .child.contact .cointainer-contact .contact-btn a {
    text-decoration: none;
  }
  .child.contact .cointainer-contact .contact-btn p {
    font-size: 1.2em;
  }
  .main-container .footer {
    background-color: #000000f9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    box-shadow: 0px 0px 40px 15px #0639f0;
  }
  .main-container .footer .ftr ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 40px;
    
  }
  .main-container .footer .ftr p {
    padding: 10px;
    color: #3b3b3b;
  }
  .main-container .footer .ftr ul li a {
    text-decoration-line: none;
    color: #0f1273;
  }
  